html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.Mui-disabled.MuiListItem-button.active  {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.MuiButton-root.MuiButton-outlined {
    color: #fff;
}

.form-row {
    width:100%;
    display:flex;
    justify-content:space-between;
}
